WebService/Service References/ServiceReference1/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://adwords.google.com/api/adwords/mcm/v201402" targetNamespace="https://adwords.google.com/api/adwords/mcm/v201402" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://adwords.google.com/api/adwords/cm/v201402" elementFormDefault="qualified" targetNamespace="https://adwords.google.com/api/adwords/cm/v201402" jaxb:version="1.0">
      <xsd:complexType name="AuthenticationError">
        <xsd:annotation>
          <xsd:documentation>
            Errors returned when Authentication failed.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:AuthenticationError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AuthorizationError">
        <xsd:annotation>
          <xsd:documentation>
            Errors encountered when trying to authorize a user.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:AuthorizationError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ClientTermsError">
        <xsd:annotation>
          <xsd:documentation>
            Error due to user not accepting the AdWords terms of service.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:ClientTermsError.Reason" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DistinctError">
        <xsd:annotation>
          <xsd:documentation>
            Errors related to distinct ids or content.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:DistinctError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="IdError">
        <xsd:annotation>
          <xsd:documentation>
            Errors associated with the ids.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:IdError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InternalApiError">
        <xsd:annotation>
          <xsd:documentation>
            Indicates that a server-side error has occured. {@code InternalApiError}s
            are generally not the result of an invalid request or message sent by the
            client.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:InternalApiError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="NotEmptyError">
        <xsd:annotation>
          <xsd:documentation>
            Errors corresponding with violation of a NOT EMPTY check.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:NotEmptyError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="NullError">
        <xsd:annotation>
          <xsd:documentation>
            Errors associated with violation of a NOT NULL check.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:NullError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OperationAccessDenied">
        <xsd:annotation>
          <xsd:documentation>
            Operation not permitted due to the invoked service's access policy.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:OperationAccessDenied.Reason" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OperatorError">
        <xsd:annotation>
          <xsd:documentation>
            Errors due to the use of unsupported operations.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:OperatorError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="QuotaCheckError">
        <xsd:annotation>
          <xsd:documentation>
            Encapsulates the errors thrown during developer quota checks.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:QuotaCheckError.Reason" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RangeError">
        <xsd:annotation>
          <xsd:documentation>
            A list of all errors associated with the Range constraint.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:RangeError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RateExceededError">
        <xsd:annotation>
          <xsd:documentation>
            Signals that a call failed because a measured rate exceeded.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:RateExceededError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="rateName" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>
                    Cause of the rate exceeded error.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="rateScope" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>
                    The scope of the rate (ACCOUNT/DEVELOPER).
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="retryAfterSeconds" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>
                    The amount of time (in seconds) the client should wait before retrying the request.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ReadOnlyError">
        <xsd:annotation>
          <xsd:documentation>
            Errors from attempting to write to read-only fields.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:ReadOnlyError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RejectedError">
        <xsd:annotation>
          <xsd:documentation>
            Indicates that a field was rejected due to compatibility issues.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:RejectedError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RequestError">
        <xsd:annotation>
          <xsd:documentation>
            Encapsulates the generic errors thrown when there's an error with user
            request.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:RequestError.Reason" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RequiredError">
        <xsd:annotation>
          <xsd:documentation>
            Errors due to missing required field.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:RequiredError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SizeLimitError">
        <xsd:annotation>
          <xsd:documentation>
            Indicates that the number of entries in the request or response exceeds the system limit.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:SizeLimitError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapHeader">
        <xsd:annotation>
          <xsd:documentation>
            Defines the required and optional elements within the header of a SOAP request.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="clientCustomerId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Optional header: the customer id of the client of the MCC manager. Applicable only
                if an MCC manager, as identified by authToken, is acting on behalf of their client.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="developerToken" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Developer token to identify that the person making the call has enough
                quota.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="userAgent" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                UserAgent is used to track distribution of API client programs and
                application usage. The client is responsible for putting in a meaningful
                value for tracking purposes. To be clear this is not the same as an HTTP
                user agent.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="validateOnly" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
                Used to validate the request without executing it.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="partialFailure" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
                If true, API will try to commit as many error free operations as possible and
                report the other operations' errors.
                
                &lt;p&gt;Ignored for non-mutate calls.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoapResponseHeader">
        <xsd:annotation>
          <xsd:documentation>
            Defines the elements within the header of a SOAP response.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="requestId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Unique id that identifies this request. If developers have any support issues, sending us
                this id will enable us to find their request more easily.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="serviceName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The name of the service being invoked.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="methodName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The name of the method being invoked.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="operations" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>
                Number of operations performed for this SOAP request.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="responseTime" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>
                Elapsed time in milliseconds between the AdWords API receiving the request and sending the
                response.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StringLengthError">
        <xsd:annotation>
          <xsd:documentation>
            Errors associated with the length of the given string being
            out of bounds.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:StringLengthError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DatabaseError">
        <xsd:annotation>
          <xsd:documentation>
            Errors that are thrown due to a database access problem.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApiError">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="tns:DatabaseError.Reason">
                <xsd:annotation>
                  <xsd:documentation>
                    The error reason represented by an enum.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ApiError" abstract="true">
        <xsd:annotation>
          <xsd:documentation>
            The API error base class that provides details about an error that occurred
            while processing a service request.
            
            &lt;p&gt;The OGNL field path is provided for parsers to identify the request data
            element that may have caused the error.&lt;/p&gt;
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="fieldPath" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The OGNL field path to identify cause of error.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="trigger" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The data that caused the error.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="errorString" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                A simple string representation of the error and reason.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ApiError.Type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Indicates that this instance is a subtype of ApiError.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApiException">
        <xsd:annotation>
          <xsd:documentation>
            Exception class for holding a list of service errors.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ApplicationException">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="errors" type="tns:ApiError">
                <xsd:annotation>
                  <xsd:documentation>
                    List of errors.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ApplicationException">
        <xsd:annotation>
          <xsd:documentation>
            Base class for exceptions.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Error message.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationException.Type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Indicates that this instance is a subtype of ApplicationException.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AuthenticationError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The single reason for the authentication failure.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AUTHENTICATION_FAILED">
            <xsd:annotation>
              <xsd:documentation>
                Authentication of the request failed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CLIENT_CUSTOMER_ID_IS_REQUIRED">
            <xsd:annotation>
              <xsd:documentation>
                Client Customer Id is required if CustomerIdMode is set to CLIENT_EXTERNAL_CUSTOMER_ID.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CLIENT_EMAIL_REQUIRED">
            <xsd:annotation>
              <xsd:documentation>
                Client Email is required if CustomerIdMode is set to CLIENT_EXTERNAL_EMAIL_FIELD.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CLIENT_CUSTOMER_ID_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Client customer Id is not a number.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CLIENT_EMAIL_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Client customer Id is not a number.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CLIENT_EMAIL_FAILED_TO_AUTHENTICATE">
            <xsd:annotation>
              <xsd:documentation>
                Client email is not a valid customer email.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CUSTOMER_NOT_FOUND">
            <xsd:annotation>
              <xsd:documentation>
                No customer found for the customer id provided in the header.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="GOOGLE_ACCOUNT_DELETED">
            <xsd:annotation>
              <xsd:documentation>
                Client's Google Account is deleted.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="GOOGLE_ACCOUNT_COOKIE_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Google account login token in the cookie is invalid.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="FAILED_TO_AUTHENTICATE_GOOGLE_ACCOUNT">
            <xsd:annotation>
              <xsd:documentation>
                problem occurred during Google account authentication.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="GOOGLE_ACCOUNT_USER_AND_ADS_USER_MISMATCH">
            <xsd:annotation>
              <xsd:documentation>
                The user in the google account login token does not match the UserId in the cookie.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="LOGIN_COOKIE_REQUIRED">
            <xsd:annotation>
              <xsd:documentation>
                Login cookie is required for authentication.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NOT_ADS_USER">
            <xsd:annotation>
              <xsd:documentation>
                User in the cookie is not a valid Ads user.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OAUTH_TOKEN_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Oauth token in the header is not valid.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OAUTH_TOKEN_EXPIRED">
            <xsd:annotation>
              <xsd:documentation>
                Oauth token in the header has expired.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OAUTH_TOKEN_DISABLED">
            <xsd:annotation>
              <xsd:documentation>
                Oauth token in the header has been disabled.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OAUTH_TOKEN_REVOKED">
            <xsd:annotation>
              <xsd:documentation>
                Oauth token in the header has been revoked.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OAUTH_TOKEN_HEADER_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Oauth token HTTP header is malformed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="LOGIN_COOKIE_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                Login cookie is not valid.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="FAILED_TO_RETRIEVE_LOGIN_COOKIE">
            <xsd:annotation>
              <xsd:documentation>
                Failed to decrypt the login cookie.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="USER_ID_INVALID">
            <xsd:annotation>
              <xsd:documentation>
                User Id in the header is not a valid id.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AuthorizationError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the database error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UNABLE_TO_AUTHORIZE">
            <xsd:annotation>
              <xsd:documentation>
                Could not complete authorization due to an internal problem.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NO_ADWORDS_ACCOUNT_FOR_CUSTOMER">
            <xsd:annotation>
              <xsd:documentation>
                Customer has no AdWords account.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="USER_PERMISSION_DENIED">
            <xsd:annotation>
              <xsd:documentation>
                User doesn't have permission to access customer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="EFFECTIVE_USER_PERMISSION_DENIED">
            <xsd:annotation>
              <xsd:documentation>
                Effective user doesn't have permission to access this customer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="USER_HAS_READONLY_PERMISSION">
            <xsd:annotation>
              <xsd:documentation>
                User has read-only permission cannot mutate.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NO_CUSTOMER_FOUND">
            <xsd:annotation>
              <xsd:documentation>
                No customer found.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="SERVICE_ACCESS_DENIED">
            <xsd:annotation>
              <xsd:documentation>
                Developer doesn't have permission to access service.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ClientTermsError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            Enums for the various reasons an error can be thrown as a result of
            ClientTerms violation.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INCOMPLETE_SIGNUP_CURRENT_ADWORDS_TNC_NOT_AGREED">
            <xsd:annotation>
              <xsd:documentation>
                Customer has not agreed to the latest AdWords Terms &amp; Conditions
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DatabaseError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the database error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CONCURRENT_MODIFICATION">
            <xsd:annotation>
              <xsd:documentation>
                A concurrency problem occurred as two threads were attempting to modify same object.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="PERMISSION_DENIED">
            <xsd:annotation>
              <xsd:documentation>
                The permission was denied to access an object.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="CAMPAIGN_PRODUCT_NOT_SUPPORTED">
            <xsd:annotation>
              <xsd:documentation>
                Requested campaign belongs to a product that is not supported by the api.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DUPLICATE_KEY">
            <xsd:annotation>
              <xsd:documentation>
                a duplicate key was detected upon insertion
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DATABASE_ERROR">
            <xsd:annotation>
              <xsd:documentation>
                a database error has occurred
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
              <xsd:documentation>
                an unknown error has occurred
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DistinctError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the validation error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DUPLICATE_ELEMENT" />
          <xsd:enumeration value="DUPLICATE_TYPE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="IdError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NOT_FOUND">
            <xsd:annotation>
              <xsd:documentation>
                Id not found
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="InternalApiError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The single reason for the internal API error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UNEXPECTED_INTERNAL_API_ERROR">
            <xsd:annotation>
              <xsd:documentation>
                API encountered an unexpected internal error.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
              <xsd:documentation>
                The cause of the error is not known or only defined in newer versions.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DOWNTIME">
            <xsd:annotation>
              <xsd:documentation>
                The API is currently unavailable for a planned downtime.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NotEmptyError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the validation error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="EMPTY_LIST" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NullError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the validation error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NULL_CONTENT">
            <xsd:annotation>
              <xsd:documentation>
                Specified list/container must not contain any null elements
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperationAccessDenied.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the operation access error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ACTION_NOT_PERMITTED">
            <xsd:annotation>
              <xsd:documentation>
                Unauthorized invocation of a service's method (get, mutate, etc.)
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ADD_OPERATION_NOT_PERMITTED">
            <xsd:annotation>
              <xsd:documentation>
                Unauthorized ADD operation in invoking a service's mutate method.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="REMOVE_OPERATION_NOT_PERMITTED">
            <xsd:annotation>
              <xsd:documentation>
                Unauthorized REMOVE operation in invoking a service's mutate method.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="SET_OPERATION_NOT_PERMITTED">
            <xsd:annotation>
              <xsd:documentation>
                Unauthorized SET operation in invoking a service's mutate method.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="MUTATE_ACTION_NOT_PERMITTED_FOR_CLIENT">
            <xsd:annotation>
              <xsd:documentation>
                A mutate action is not allowed on this campaign, from this client.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OPERATION_NOT_PERMITTED_FOR_CAMPAIGN_TYPE">
            <xsd:annotation>
              <xsd:documentation>
                This operation is not permitted on this campaign type
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
              <xsd:documentation>
                The reason the invoked method or operation is prohibited is not known
                (the client may be of an older version than the server).
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperatorError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the validation error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OPERATOR_NOT_SUPPORTED" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QuotaCheckError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            Enums for all the reasons an error can be thrown to the user during
            billing quota checks.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INVALID_TOKEN_HEADER">
            <xsd:annotation>
              <xsd:documentation>
                Customer passed in an invalid token in the header.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACCOUNT_DELINQUENT">
            <xsd:annotation>
              <xsd:documentation>
                Customer is marked delinquent.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACCOUNT_INACCESSIBLE">
            <xsd:annotation>
              <xsd:documentation>
                Customer is a fraudulent.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACCOUNT_INACTIVE">
            <xsd:annotation>
              <xsd:documentation>
                Inactive Account.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP">
            <xsd:annotation>
              <xsd:documentation>
                Signup not complete
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP_LATEST_ADWORDS_API_TNC_NOT_AGREED">
            <xsd:annotation>
              <xsd:documentation>
                Latest AdWords API T&amp;C not agreed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP_NO_BILLING_INFO">
            <xsd:annotation>
              <xsd:documentation>
                No Billing Info.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP_USER_INFO_MISSING">
            <xsd:annotation>
              <xsd:documentation>
                User Info missing.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP_USER_INFO_PENDING">
            <xsd:annotation>
              <xsd:documentation>
                User Info pending.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INCOMPLETE_SIGNUP_USER_INFO_REJECTED">
            <xsd:annotation>
              <xsd:documentation>
                User Info rejected.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="MONTHLY_BUDGET_REACHED">
            <xsd:annotation>
              <xsd:documentation>
                Monthly budget quota reached.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="QUOTA_EXCEEDED">
            <xsd:annotation>
              <xsd:documentation>
                Monthly budget quota exceeded.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RangeError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="TOO_LOW" />
          <xsd:enumeration value="TOO_HIGH" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RateExceededError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reason for the rate exceeded error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="RATE_EXCEEDED">
            <xsd:annotation>
              <xsd:documentation>
                Rate exceeded.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ReadOnlyError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="READ_ONLY" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RejectedError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UNKNOWN_VALUE">
            <xsd:annotation>
              <xsd:documentation>
                Unknown value encountered
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RequestError.Reason">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
              <xsd:documentation>
                Error reason is unknown.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="INVALID_INPUT">
            <xsd:annotation>
              <xsd:documentation>
                Invalid input.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RequiredError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="REQUIRED">
            <xsd:annotation>
              <xsd:documentation>
                Missing required field.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SizeLimitError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for Ad Scheduling errors.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="REQUEST_SIZE_LIMIT_EXCEEDED">
            <xsd:annotation>
              <xsd:documentation>
                The number of entries in the request exceeds the system limit.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="RESPONSE_SIZE_LIMIT_EXCEEDED">
            <xsd:annotation>
              <xsd:documentation>
                The number of entries in the response exceeds the system limit.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
              <xsd:documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StringLengthError.Reason">
        <xsd:annotation>
          <xsd:documentation>
            The reasons for the target error.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="TOO_SHORT" />
          <xsd:enumeration value="TOO_LONG" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:cm="https://adwords.google.com/api/adwords/cm/v201402" elementFormDefault="qualified" targetNamespace="https://adwords.google.com/api/adwords/mcm/v201402" jaxb:version="1.0">
      <xsd:import namespace="https://adwords.google.com/api/adwords/cm/v201402" />
      <xsd:annotation>
        <xsd:appinfo>
          <jaxb:globalBindings typesafeEnumMaxMembers="999999" />
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="Customer">
        <xsd:annotation>
          <xsd:documentation>
            Represents a customer for the CustomerService.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="customerId" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>
                The 10-digit AdWords Customer ID.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The currency in which this account operates.
                We support a subset of the currency codes derived from the ISO 4217 standard.
                See &lt;a href="https://developers.google.com/adwords/api/docs/appendix/currencycodes"
                &gt;Currency Codes&lt;/a&gt; for the currently supported currencies.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
                &lt;span class="constraint StringLength"&gt;The length of this string should be between 3 and 3, inclusive.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="dateTimeZone" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                The local timezone ID for this customer.
                See &lt;a href="https://developers.google.com/adwords/api/docs/appendix/timezones"
                &gt;Time Zone Codes&lt;/a&gt; for the currently supported list.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
                &lt;span class="constraint StringLength"&gt;This string must not be empty.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="descriptiveName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                An optional, non-unique descriptive name for this customer.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="companyName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                An optional, non-unique company name for this customer.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="canManageClients" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
                Whether this customer can manage other AdWords customers
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="testAccount" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
                Whether this customer's account is a test account.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="autoTaggingEnabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
                Whether auto-tagging is enabled for this customer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="get">
        <xsd:annotation>
          <xsd:documentation>
            Returns details of the authorized customer.
            
            @return customer associated with the caller
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="rval" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApiExceptionFault" type="cm:ApiException">
        <xsd:annotation>
          <xsd:documentation>
            A fault element of type ApiException.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mutate">
        <xsd:annotation>
          <xsd:documentation>
            Update the authorized customer.
            
            &lt;p&gt;While there are a limited set of properties available to update, please read this
            &lt;a href="https://support.google.com/analytics/answer/1033981"&gt;help center article
            on auto-tagging&lt;/a&gt; before updating {@code customer.autoTaggingEnabled}.
            
            @param customer the requested updated value for the customer.
            @throws ApiException
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mutateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="rval" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestHeader" type="cm:SoapHeader" />
      <xsd:element name="ResponseHeader" type="cm:SoapResponseHeader" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part name="ApiException" element="tns:ApiExceptionFault" />
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part name="parameters" element="tns:mutate" />
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part name="parameters" element="tns:mutateResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceInterface">
    <wsdl:documentation>
      Service to access basic details about any customer.
    </wsdl:documentation>
    <wsdl:operation name="get">
      <wsdl:documentation>
        Returns details of the authorized customer.
        
        @return customer associated with the caller
      </wsdl:documentation>
      <wsdl:input name="getRequest" message="tns:getRequest" />
      <wsdl:output name="getResponse" message="tns:getResponse" />
      <wsdl:fault name="ApiException" message="tns:ApiException" />
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:documentation>
        Update the authorized customer.
        
        &lt;p&gt;While there are a limited set of properties available to update, please read this
        &lt;a href="https://support.google.com/analytics/answer/1033981"&gt;help center article
        on auto-tagging&lt;/a&gt; before updating {@code customer.autoTaggingEnabled}.
        
        @param customer the requested updated value for the customer.
        @throws ApiException
      </wsdl:documentation>
      <wsdl:input name="mutateRequest" message="tns:mutateRequest" />
      <wsdl:output name="mutateResponse" message="tns:mutateResponse" />
      <wsdl:fault name="ApiException" message="tns:ApiException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoapBinding" type="tns:CustomerServiceInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault use="literal" name="ApiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault use="literal" name="ApiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceInterfacePort" binding="tns:CustomerServiceSoapBinding">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/mcm/v201402/CustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>